<div class="container-fluid">
    <div class="row mt-3">
        <h2 class="col-12">
            {{ 'company.title' | translate }}
        </h2>
    </div>
    <div class="row">
        <div class="col-12">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque accusantium quod atque iste suscipit
            architecto rerum cupiditate eum hic, amet laudantium vel nulla reiciendis aspernatur soluta maiores itaque
            ullam est. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo impedit vitae nobis illo aut
            ducimus cumque debitis mollitia eligendi nostrum dolorum dolor placeat, soluta numquam beatae! Molestias
            perspiciatis incidunt architecto.
        </div>
    </div>
    <div class="row mt-3">
        <h2 class="col-12">
            Ils nous ont fait confiance
        </h2>
    </div>
    <div class="row">
        <div class="col-12">
            Avec des logos d'entreprise ou bien les secteur dans lequel vous etes intervenus? Aero, agro alim, etc.?
        </div>
    </div>
</div>