<div class="container-fluid">
    <div class="row mt-3">
        <h2 class=" col-12">
            {{ 'contact.title' | translate }}
        </h2>
    </div>
    <div class="row">
        <div class="col-12 col-md-3 mt-3 ml-3 d-flex flex-column justify-content-center">
            <div>
                <fa-icon [icon]="faPhone"></fa-icon>
                {{ 'contact.phone' | translate }}
            </div>
            <div>
                <fa-icon [icon]="faFax"></fa-icon>
                {{ 'contact.fax' | translate }}
            </div>
            <div></div>
        </div>
        <div class="col-12 col-md-4 mt-3 ml-3">
            <div class="name mb-1">
                {{ 'contact.nameMichel' | translate }}
            </div>
            <div>
                {{ 'contact.statusMichel' | translate }}
            </div>
            <div>
                {{ 'contact.jobMichel' | translate }}
            </div>
            <div>
                <fa-icon [icon]="faAt"></fa-icon>
                {{ 'contact.emailMichel' | translate }}
            </div>
            <div>
                <fa-icon [icon]="faPhone"></fa-icon>
                {{ 'contact.phoneMichel' | translate }}
            </div>
        </div>
        <div class="col-12 col-md-4 mt-3 ml-3">
            <div class="name mb-1">
                {{ 'contact.namePassemard' | translate }}
            </div>
            <div>
                {{ 'contact.statusPassemard' | translate }}
            </div>
            <div>
                {{ 'contact.jobPassemard' | translate }}
            </div>
            <div>
                <fa-icon [icon]="faAt"></fa-icon>
                {{ 'contact.emailPassemard' | translate }}
            </div>
            <div>
                <fa-icon [icon]="faPhone"></fa-icon>
                {{ 'contact.phonePassemard' | translate }}
            </div>
        </div>
    </div>

    <div class="row  mt-5">
        <h2 class="col-12">
            {{ 'contact.addressTitle' | translate }}
        </h2>
    </div>
    <div class="row mt-3 ml-3 no-gutters">
        <div class="col-12 col-md-3 mt-3 ml-3 mb-3 d-flex flex-column justify-content-start">
            <div>
                {{ 'address.1' | translate }}
            </div>
            <div>
                {{ 'address.2' | translate }}
            </div>
            <div>
                {{ 'address.3' | translate }}
            </div>
            <div>
                {{ 'address.4' | translate }}
            </div>
        </div>
        <div class="col-12 col-md-8 d-flex">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                <agm-marker [latitude]="lat" [longitude]="lng" animation="DROP" title="TEST">
                    <agm-info-window isOpen=true>
                        Infos comme sonnez etc etc non?
                    </agm-info-window>
                </agm-marker>
            </agm-map>
        </div>
    </div>
</div>