.container-fluid {
    text-align: center;
}

@media screen and (max-height: 900px){
    h2 {
        font-size: 1.5rem;
    }
}

@media screen and (min-height: 900px){
    .carousel {
        width:50%;
    }
}